body {
    background-color: #262626;
    font-family: "Lato", sans-serif;;
    font-size: 150%;
}

header {
    width: 100%;
    height: 46px;
}

ul {
    list-style-type: none;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    background-color:dimgray;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

li a.active {
    background-color: #262626;
    color: white;
}

li a:hover:not(.active) {
    background-color: black;
    color: white;
}

h1 {
    color: darkslategrey;
    font-family: "Lato", sans-serif;;
    font-size: 100%;
}

p {
    color: darkslategrey;
    font-family: "Lato", sans-serif;;
    font-size: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    background-color: whitesmoke;
    width: 300px;
    height:300px;
    padding: 0px 0px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 black;
}

.container{
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-top: 20px;
    height: inherit;
    flex-wrap: wrap;
    overflow: auto;
    background-color: transparent;
}
